<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.sharifmia.movieapps">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CoverMovie"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Movie_20" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_19" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_18" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_17" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_16" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_15" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_14" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_13" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_12" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_11" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_10" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_9" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_8" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_7" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_6" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_5" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_4" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_3" android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Movie_2" android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".Movie_1"
            android:screenOrientation="sensorLandscape" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>